/* add custom styles */
body {
    background-size: cover;
    background-color: #E0E2DB;
    height: 100%;
    width: 100%;
}

h1 {
    color: #D0F720;
    text-shadow: 3px 2px 8px rgba(46, 53, 50, .5);
    font-size: 50px;
    font-family: "Pacifico";
    text-align: center;
}

div {
    width: 80%;
    margin: auto;
    padding: 100px;
    text-align: center;
}

button {
    height: 100px;
    width: 400px;
    font-size: 20px;
    color: #D0F720;
}
